#row-details {
    margin-top: 6%;
    margin-bottom: 3%;

    justify-content: center;
    align-items: center;
}

#row-details2 {
    margin-top: 6%;
    margin-bottom: 3%;

    

    display: flex;
    flex-wrap: nowrap;
}
.card {
    margin: 2%;
    padding: 2%;

    border-radius: 5%;
    border-width: 0px;

    color: black;
    font-size: large;
    letter-spacing: -0.5px;
}

.nombre {
    font-size: 125%;
}

.marca{
    font-weight: bold;
    text-transform: uppercase;
}

.valoracion {
    font-size: 225%;
}

.scroll-horizontal {
    width: 50%;
    height: 50%;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 60%;
    justify-content: center;
    align-items: center;

}

@media (min-width: 768px) { #comentarios { width: 50%; } }

