.card {
    margin-top: 5%;
    padding: 5%;

    border-radius: 5%;
    border-width: 0px;

    color: black;
    font-size: large;
    text-align: left;
    letter-spacing: -0.5px;
}

.nombre {
    font-size: 110%;
    font-weight: bold;
}

.marca{
    font-weight: bold;
    text-transform: uppercase;
}

.supermercados {
    color: black;
    font-weight: normal;
}

.h2{
    font-weight: bold;
}

#quitar { 
    background-color: #ac0a04;
    margin-top: 3%;
    font-size: 100%;
    font-weight: bold;
    border-width: 0px;
    border-radius: 7%;
    width:90%;
}

button.vaciar {
  background-color: rgb(68, 0, 0);
  color: white;
  width: 20%;

  border-radius: 33px;

  font-size: 120%;
  margin: 0 auto;
}

button.supermercado {
  background-color: #07644A;
  color: white;
  width: 60%;

  border-radius: 33px;
  
  padding-bottom: 0.3%;
  margin: 0 auto;
  font-size: 250%;
  font-weight: bold;
}

#button-row{
    justify-content: center;
}

h1.title {
    color: black;
    font-weight: bold;
    font-size: 300%;
    letter-spacing: -2px;
    margin-bottom: 2%;
  }

.row {
  margin-top: 5%;
}

div.contador-productos {
  width: 33%;
  margin: 0 auto;
  margin-bottom: 2%;
}

.tarjeta-usuario {
  background-color: bisque;
  border-radius: 15px;
  box-shadow: 0px 0px 10px gray;
  align-items: center;
}
  
.tarjeta-usuario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.tarjeta-usuario h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}