{% extends 'base_landing.html' %} {% block body %} {% load static %}
<div class="w-100 overflow-hidden bg-gray-100" id="top">

  <div class="container position-relative">
    <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url({% static 'imgs/webp/market.webp' %});
      opacity: 0.4;">

    </div>
    <div class="row">

      <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
        <h1 class="display-1 fw-bold mt-5">Encuentra los mejores productos!</h1>
        <p class="lead">¿Tienes alguna intolerancia y no sabes que comprar? No busques más, con
          <strong>FoodCheck</strong> eso ya no será un problema.
        </p>
        <a href="/home" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Empezar ahora</a>
      </div>



    </div>
  </div>

</div>

<div class="py-vh-5 w-100 overflow-hidden" id="services">
  <div class="container">
    <div class="row d-flex justify-content-end">
      <div class="col-lg-8" data-aos="fade-down">
        <h2 class="display-6">Por estas tres razones deberias estar usando nuestra aplicación ahora mismo.
        </h2>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-lg-4 py-vh-1 pb-0" data-aos="fade-up" data-aos-delay="200">
        <span class="h5 fw-lighter">01.</span>
        <h3 class="py-5 border-top border-dark">Hecha para intolerantes.</h3>
        <p>Nuestro enfoque principal es mejorar la calidad para todas las personas que por
          algun motivo poseen una dieta especial o diferente al resto.</p>
        <a href="#" class="link-fancy">Mas información</a>
      </div>

      <div class="col-md-6 col-lg-4 py-vh-4 pb-0" data-aos="fade-up" data-aos-delay="400">
        <span class="h5 fw-lighter">02.</span>
        <h3 class="py-5 border-top border-dark">Interfaz sencilla y para todos los públicos.</h3>
        <p>Lo más importante en una aplicación es la usabilidad, y la nuestra no es menos en ese ambito. Desde el
          momento de crearte una cuenta, la aplicación te guiara de forma sencilla por todas sus funcionalidades</p>
        <a href="#" class="link-fancy">Mas información</a>
      </div>

      <div class="col-md-6 col-lg-4 py-vh-2 pb-0" data-aos="fade-up" data-aos-delay="600">
        <span class="h5 fw-lighter">03.</span>
        <h3 class="py-5 border-top border-dark">¿Necesitas más razones?</h3>
        <p>Si sigues leyendo, debes estar realmente interesado. ¡Dale una oportunidad a la aplicación y juzga por ti
          mismo!</p>
        <a href="#" class="link-fancy">Mas información
        </a>
      </div>
    </div>

  </div>
</div>

<div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="objectives">
  <div class="container">

    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="row gx-5 d-flex">
          <div class="col-md-11">
            <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end" data-aos="fade-right"
              style="background-image: url({% static 'imgs/webp/alimentos-con-gluten.webp' %});--bs-aspect-ratio: 50%;">
            </div>
          </div>
          <div class="col-md-5 offset-md-1">
            <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up"
              style="background-image: url({% static 'imgs/webp/lechuga.webp' %});">
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-left"
              style="background-image: url({% static 'imgs/webp/comida-alergias.webp' %});--bs-aspect-ratio: 150%;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h3 class="py-5 border-top border-dark" data-aos="fade-left">Queremos que nuestra aplicación ofrezca una
          amplia selección de productos de diferentes supermercados filtrados para satisfacer las
          necesidades de nuestros clientes.</h3>
        <p data-aos="fade-left" data-aos-delay="200">Somos conscientes de que el mercado ya cuenta con aplicaciones
          similares, por lo que nos esforzamos por ofrecer un enfoque único y
          diferenciado, para destacarnos y evitar caer en el desuso. Gracias por
          visitarnos y ser parte de este emocionante proyecto.
        </p>
        <p>
          <a href="#" class="link-fancy link-dark" data-aos="fade-left" data-aos-delay="400">Mas información
          </a>
        </p>
      </div>
    </div>

  </div>
</div>

<div class="py-vh-5 w-100 overflow-hidden" id="aboutus">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-5">
        <h3 class="py-5 border-top border-dark" data-aos="fade-right">¿Quienes somos?</h3>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12">
            <h2 class="display-6 mb-5" data-aos="fade-down">Estos son algunos números representativos en nuestro
              proyecto.
              Quizás parezcan solo números, pero nos representan.
            </h2>
          </div>
          <div class="col-lg-6" data-aos="fade-up">
            <div class="display-1 fw-bold py-4">15</div>
            <p class="text-black-50">Somos un grupo de 15 estudiantes apasionados por la tecnología y con
              un objetivo claro: ¡realizar una aplicación que pueda satisfacer este
              mercado!</p>
          </div>
          <div class="col-lg-6" data-aos="fade-up">
            <div class="display-1 fw-bold py-4">+10</div>
            <p class="text-black-50">Somos conscientes de que el mercado ya cuenta con aplicaciones
              similares, por lo que nos esforzamos por ofrecer un enfoque único y
              diferenciado, para destacarnos y evitar caer en el desuso. Gracias por
              visitarnos y ser parte de este emocionante proyecto.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="py-vh-6 bg-gray-900 text-light w-100 overflow-hidden" id="workwithus">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8 text-center" data-aos="fade">
          <p class="text-secondary lead">Esta aplicación somos todos!</p>
          <h2 class="display-6 mb-5">Si formas parte del grupo de usuarios de prueba de la aplicación, a continuación
            tienes una pagina para enviar todo tipo de sugerencias, fallos u opiniones que creas oportunas. Vuestra
            opinión
            como clientes es importante.</h2>
        </div>
        <div class="col-12">
          <a href="#workwithus" class="btn btn-warning btn-xl shadow me-3 mt-4 disabled" data-aos="fade-down" onclick="alert('No implementado')">Enviar
            comentarios</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="small py-vh-3 w-100 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up">
        <div class="d-flex">
          <div class="col-md-3 flex-fill pt-3 pe-3 pe-md-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-box-seam"
              viewbox="0 0 16 16">
              <path
                d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
            </svg>
          </div>
          <div class="col-md-9 flex-fill">
            <h3 class="h5 my-2">Buena compatibilidad</h3>
            <p>Somo compatibles con los supermercados mas conocidos de tu zona. ¡Compruebalo!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex">
          <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
              class="bi bi-card-checklist" viewbox="0 0 16 16">
              <path
                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
              <path
                d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
            </svg>
          </div>
          <div class="col-md-9 flex-fill">
            <h3 class="h5 my-2">La salud es lo primero</h3>
            <p>Si detectas algun fallo, envianos un feedback. ¡Nos tomamos la seguridad muy en serio!</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="d-flex">
          <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
              class="bi bi-window-sidebar" viewbox="0 0 16 16">
              <path
                d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
              <path
                d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z" />
            </svg>
          </div>
          <div class="col-md-9 flex-fill">
            <h3 class="h5 my-2">Siempre disponible</h3>
            <p>Nuestra aplicación estará siempre disponible para cuando lo necesites, tanto en la web como en PWA.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}