{% extends "base.html" %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
{% endblock %} {% block body %}

<div class="container">
    <div class="row text-center">
        <h1 class="title">Mostrando sus recetas</h1>

        <a href="/recipes/new"><button class="btn btn-primary mb-3" id="enviar" disabled="true"
                style="border-radius: 12px;">Nueva receta</button></a>

        {% if recetas.items|length != 0 %}
        <div class="row" id="row-details">
            {% for receta, alergenos in recetas.items %}
            <div class="col-md-4">
                <div class="card mt-1 text-center">
                    {% if receta.imagen %}
                    <a href="/recipe/{{receta.id}}/details">
                        <img src="{{receta.imagen.url}}" alt="error" style="width: 100%;">
                    </a>
                    <p class="nombre">{{receta.nombre}}</p>
                    {% else %}
                    <img src="" alt="error" style="width:100%">
                    <a href="/recipe/{{receta.id}}/details"></a>
                        <p class="nombre">{{receta.nombre}}</p>
                    </a>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col">
                            {% for alergeno in alergenos%}
                            {% if alergeno.imagen != None %}
                            <img src="{{alergeno.imagen}}" alt="error" style="width:70px">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if recetas.items|length == 0 %}
        <a>Aún no tiene ninguna receta</h1>
            {% endif %}

            {% if recetas.items|length != 0%}
            <div class="row">
                <div class="container" id="boton-paginacion">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            {% if total_de_paginas == 1%}
                            <li class="page-item disabled">
                                <a class="page-link">Anterior</a>
                            </li>
                            <li class="page-item disabled"><a class="page-link">1</a></li>
                            <li class="page-item disabled">
                                <a class="page-link">Siguiente</a>
                            </li>
                            {% else %} {% if recetas.has_previous and recetas.has_next %}
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{recetas.previous_page_number}})">
                                    Anterior
                                </button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{recetas.previous_page_number}})">
                                    {{ recetas.previous_page_number }}
                                </button>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">{{ recetas.number }}</a>
                            </li>
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{recetas.next_page_number}})">
                                    {{ recetas.next_page_number}}
                                </button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{ recetas.next_page_number }})">
                                    Siguiente
                                </button>
                            </li>
                            {% endif %} {% if not recetas.has_previous %}
                            <li class="page-item disabled">
                                <a class="page-link">Anterior</a>
                            </li>
                            <li class="page-item disabled"><a class="page-link">1</a></li>
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{recetas.next_page_number}})">
                                    {{recetas.next_page_number }}
                                </button>
                            </li>
                            {% if not total_de_paginas == 2 %}
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{recetas.next_page_number|add:'1'}})">
                                    {{recetas.next_page_number|add:"1"}}
                                </button>
                            </li>
                            {% endif %}
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{ recetas.next_page_number }})">
                                    Siguiente
                                </button>
                            </li>
                            {% endif %} {% if not recetas.has_next %}
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{recetas.previous_page_number}})">
                                    Anterior
                                </button>
                            </li>
                            {% if not total_de_paginas == 2 %}
                            <li class="page-item">
                                <button class="page-link"
                                    onclick="createForm({{recetas.previous_page_number|add:'-1'}})">
                                    {{ recetas.previous_page_number|add:"-1" }}
                                </button>
                            </li>
                            {% endif %}
                            <li class="page-item">
                                <button class="page-link" onclick="createForm({{recetas.previous_page_number}})">
                                    {{ recetas.previous_page_number }}
                                </button>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">{{ recetas.number }}</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">Siguiente</a>
                            </li>
                            {% endif %} {% endif%}
                        </ul>
                    </nav>
                </div>

            </div>
            {% endif %}
    </div>
</div>
{% endblock %}
</div>