{% extends "base.html" %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
{% endblock %} {% block body %}

<style>
.alert {
  padding: 20px;;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<div class="container text-center">
    <div class="row">
        {% include 'messaging.html' %}
        <h1 class="title">Crear una receta</h1>
        <form method="POST" id="filter-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <input class="form-control" id="nombre" name="nombre" placeholder="Nombre de la receta"
                    required></input>
            </div>
            <div class="mt-3">
                <textarea class="form-control" id="cuerpo" name="cuerpo" maxlength="4000"
                    placeholder="Instrucciones para realizar la receta" required></textarea>
                <div class="d-flex justify-content-end">
                    <span id="caracteres-actuales">0</span>
                    <span id="limite-caracteres">/ 4000</span>
                </div>
            </div>

            <div class="mt-3">
                <input type="text" id="buscadorProductosReceta" onkeyup="buscarProductos()" placeholder="Añadir producto">
                <p>(Recuerde añadir un mínimo de 2 productos)</p>
                <ul id="productoRecetas"></ul>
                <h5>Lista actual de ingredientes:</h5>

                <!-- Selector múltiple, similar al de Django admin (usando tecla Ctrl)-->
                <select class="form-select-lg" name="productos[]" id="productos" multiple required min="2"></select>
            </div>

            <div class="mt-3">
                <input class="form-control" type="file" accept="image/png, image/gif, image/jpeg" id="receta_imagen" name="receta_imagen" onchange="preview()" required>
                <p onclick="clearImage()" class="btn btn-primary mt-3" style="border-radius: 12px;">Eliminar imagen</p>
                <p>Vista previa de la imagen:</p>                
                <img id="frame" src="" class="img-fluid" style="width: 50%; display: none;" alt="error"/>
                <!-- Deberíamos poner un alert o handlear la excepcion si el archivo qeu se sube no es una imagen -->
            </div>

            <!--Formulario tiempo preparación-->
            <h5>¿Cúanto tiempo lleva prepararla?</h5>
            <div class="row justify-content-center mt-3">
                <div class="col-md-2">
                    <label for="horas">Horas</label>
                    <input type="number" class="form-control" id="horas" name="horas" min="00" max="99" required value="0">
                </div>
                <div class="col-md-2">
                    <label for="minutos">Minutos</label>
                    <input type="number" class="form-control" id="minutos" name="minutos" min="00" max="59" required value="0">
                </div>
                <div class="col-md-2">
                    <label for="segundos">Segundos</label>
                    <input type="number" class="form-control" id="segundos" name="segundos" min="00" max="59" required value="0">
                </div>
            </div>

            <div class="mt-3">
                <p>¿Quieres que sea pública? <input type="checkbox" id="checkbox_publica" name="checkbox_publica"
                        value="si" checked="true" ></p>
            </div>

            <button class="btn btn-primary mt-3 mb-3" type="submit" id="boton-busqueda" style="border-radius: 12px;">
                Crear receta
            </button>
        </form>
    </div>

</div>

<script>
    const textarea = document.getElementById('cuerpo');
    const currentChars = document.getElementById('caracteres-actuales');

    textarea.addEventListener('input', () => {
        const charactersTyped = textarea.value.length;
        currentChars.textContent = charactersTyped;
    });
</script>

<script>
    function preview() {
        const file = event.target.files[0];
        if (file && file.type.match('image.*')) {
            frame.style.display = 'inline';
            frame.src = URL.createObjectURL(file);
        }
    }

    function clearImage() {
        document.getElementById('receta_imagen').value = null;
        frame.style.display = 'none';
        frame.src = "";
    }
</script>

<script>
    async function buscarProductos() {
        let input = document.getElementById("buscadorProductosReceta");
        let ul = document.getElementById("productoRecetas");
        let nombre = input.value.toLowerCase();

        let response = await fetch(`/api/products?nombre=${nombre}`);
        let products = await response.json();
        ul.innerHTML = '';
        for (let product of products) {
            let child = document.createElement('li');
            let a = document.createElement('a');
            let img = document.createElement('img');
            img.src = product[2];
            img.alt = 'error';
            a.appendChild(img);
            a.innerHTML += ' ' + product[1];
            child.appendChild(a);
            child.addEventListener('click', function(e) {
                añadirProducto(product);
            })
            ul.appendChild(child);
        }
    }

    function añadirProducto(producto) {
        let productSelect = document.getElementById('productos');
        let option = productSelect.querySelector(`option[value="${producto[0]}"]`);
        if(option == null) {
            option = document.createElement('option');
            option.value = producto[0];
            option.innerHTML = producto[1];
            option.readonly = true;
            productSelect.appendChild(option);
            option.onclick = option.remove;
        }
        option.selected = true;
    }

    document.getElementById('productos').addEventListener('change', function(e) {
        for(let child of e.target.children) {
            child.selected = true;
        }
        e.target.blur();
    })
</script>

{% endblock %}
</div>