{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block body %}
<body>
    <div class="container text-center">
        <div>
            <div class="row">
                <h1 class="title">Filtros</h1>
                <form method="GET" action="{% url 'index' %}">
                    {% for alergeno in alergenos_available %}
                        <input type="checkbox" name="alergenos" value="{{ alergeno.nombre }}" {% if alergeno.nombre in alergenos_selected %} checked {% endif %}>
                        <label for="alergenos">
                            {{ alergeno.nombre }}
                        </label>
                    {% endfor %}
                    <input type="checkbox" name="vegano" value="1" {% if vegano_selected %} checked {% endif %}>
                    <label for="vegano">Vegano</label>
                    <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
                </form>
            </div>

            <div class="row">
                <h1 class="title">Mostrando todos los productos registrados</h1>
            </div>

            <div class="row">
                {% for producto in lista_producto %}
                    <div class="col-md-4">
                        <div class="card">
                            <a href="product/{{producto.id}}/details"><img src="{{producto.imagen}}" alt="error" style="width:100%"></a>
                            <p class="nombre">{{producto.nombre}}</p>
                            <p class="marca">{{producto.marca}}</p>
                            <p class="supermercados">{{producto.supermercados.all|join:"/"}}</p>
                        </div> 
                    </div>    
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}