{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/product_details.css' %}">

{% endblock %}

{% block body %}

<div class="container">

    <div class="row" id="row-details">
        <div class="card col-md-4 mt-1 text-center">
            <img src="{{producto.imagen}}" alt="error" style="width:100%;" onclick="mostrarImagen(this);">
            <p class="nombre">{{producto.nombre}}</p>
            <p class="marca">Marca: {{producto.marca}}</p>
            <p class="valoracion">{{producto.valoracionMedia|floatformat:"2"}} ★</p>

            <b class="ingredientes">Ingredientes </b>
            <p>{{producto.ingredientes}}</p>
            <p>Supermercados: {{producto.supermercados.all|join:"/"}}</p>
            <a class="btn btn-primary mb-3" href="/product/{{producto.id}}/add" style="border-radius: 12px;">Añadir a lista de la compra</a>

            <div class="row">
                <div class="col">
                    {% for alergeno in producto.alergenos.all%}
                    {% if alergeno.imagen != None %}
                    <img src="{{alergeno.imagen}}" alt="error" style="width:20%">
                    {% endif %}
                {% endfor %}
                {% if producto.vegano == 1 %}
                        <img src="/static/imgs/intolerancias/vegano.png" alt="error" style="width:35%">
                {% endif %}
                </div>
            </div>
            {% if not ha_reportado %}
                </br>
                <a class="btn btn-primary" href="/allergen_report/product/{{producto.id}}" role="button" style="border-radius: 12px;">Reportar alérgenos</a>
            {% else%}
                <p>Su reporte está siendo revisado</p>
            {% endif %}
        </div>

        <div class="card col-md-4 mt-2 text-center" id="comentarios">
            <h2>Opiniones</h2>
            <br>
            <br>
            <ul class="list-group list-group-flush" style="height: 200px;  overflow-y: scroll;">
                {% for valoracion in valoraciones %}
                <li class="list-group-item">
                    <b>{{valoracion.usuario}} </b> | <span class="product-ratings border rounded-pill">{{valoracion.puntuacion}}</span>
                    <br>
                    <p>{{valoracion.comentario}}</p>
                <div class="comment">
                {% if user.is_authenticated and valoracion.usuario == user %}
                    <form method="POST" action="{% url 'delete_valoracion' valoracion.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                {% endif %}
                </div>
                </li>
                {% endfor %}
                
            </ul>

            
          
          

            <form method="POST">
                {% csrf_token %}
                <div id="rating-container" class="mb-2">
                    <!-- Aquí se mostrarán las estrellas de valoración -->
                </div>
                <input type="hidden" name="valoracion" id="valoracion" value="0">
                <div>
                    <textarea class="form-control" id="cuerpo" name="cuerpo" maxlength="200"
                        placeholder="¿Qué opinas del producto?"></textarea>
                    <div class="d-flex justify-content-end">
                        <span id="caracteres-actuales">0</span>
                        <span id="limite-caracteres">/ 200</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-3" id="enviar" disabled="true"
                    style="border-radius: 12px;">Añadir Valoración</button>
            </form>
        </div>
        
    </div>
    
</div>
<div class=" text-center">
    {% if recetas.items|length != 0 %}
    <h4>Recetas que contienen este producto </h4>
    {% include 'recipe_carrousel.html' %}
    {% else %}
    <a>Aún no tiene ninguna receta</h1>
    {% endif %}
</div>



<script>
    // Código para generar las estrellas de valoración
    const ratingContainer = document.querySelector('#rating-container');
    const stars = [];
    for (let i = 1; i <= 5; i++) {
        const star = document.createElement('span');

        star.classList.add = 'estrellas'

        star.textContent = '☆';
        star.style.fontSize = '30px';
        star.style.cursor = 'pointer';
        star.addEventListener('click', () => {
            // Rellenar las estrellas según la valoración seleccionada
            for (let j = 0; j < stars.length; j++) {
                if (j < i) {
                    stars[j].textContent = '★';
                } else {
                    stars[j].textContent = '☆';
                }
            }
            // Actualizar el valor del campo oculto
            document.querySelector('#valoracion').value = i;
            document.querySelector('#enviar').disabled = false;
            document.querySelector('#enviar').style.opacity = 1;
        });
        ratingContainer.appendChild(star);
        stars.push(star);
    }
</script>

<script>
    function convertirNumeroAEstrellas(numero) {
        const maxEstrellas = 5;
        let estrellas = "";
        for (let i = 0; i < maxEstrellas; i++) {
            if (i < numero) {
                estrellas += "★";
            } else {
                estrellas += "☆";
            }
        }
        return estrellas;
    }

    const elementosRating = document.querySelectorAll("span.product-ratings");
    elementosRating.forEach((elemento) => {
        const rating = parseInt(elemento.textContent);
        const estrellas = convertirNumeroAEstrellas(rating);
        elemento.textContent = estrellas;
    });
</script>

<script>
    const textarea = document.getElementById('cuerpo');
    const currentChars = document.getElementById('caracteres-actuales');

    textarea.addEventListener('input', () => {
        const charactersTyped = textarea.value.length;
        currentChars.textContent = charactersTyped;
    });
</script>

<script>
    function mostrarImagen(imagen) {
        var ventana = window.open("", "Imagen", "width=500, height=400");
        ventana.document.write("<img src='" + imagen.src + "' style='width:100%; height:auto;'>");
    }
</script>


{% endblock %}