{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stila.css' %}">
{% endblock %}

{% block body %}

<div class="container text-center">
    <p>Alérgenos</p>
    <div class="row">
        <form method="GET" action="{% url 'index' %}">
            {% for alergeno in alergenos_available %}
                <input type="checkbox" name="alergenos" value="{{ alergeno.nombre }}" {% if alergeno.nombre in alergenos_selected %} checked {% endif %}>
                <label>
                    {{ alergeno.nombre }}
                </label>
            {% endfor %}
            <input type="checkbox" name="vegano" value="vegano" {% if vegano_selected %} checked {% endif %}>
            <label for="vegano">Vegano</label>
            <button type="submit">Filtrar</button>
        </form>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        {% for producto in lista_producto %}
            <div class="col-4">
                <div class="card">
                    <img src="{{producto.imagen}}" alt="error" style="width:100%">
                    <p class="nombre">{{producto.nombre}}</p>
                    <p class="ingredientes">{{producto.ingredientes}}</p>
                    <p class="marca">{{producto.marca}}</p>
                    <p>{{producto.supermercados.all|join:"/"}}</p>
                </div> 
            </div>    
        {% endfor %}
    </div>
</div>
{% endblock %}