{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/product_details.css' %}">
{% endblock %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#myTable').DataTable();
    } );
</script>

<br>
<br>
<br>
<br>
<div class="text-center">
    <h1>Lista de reportes</h1>
</div>
<div class="container">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Producto</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for reporte in reportes %}
                <tr onclick="window.location='/report/{{reporte.id}}';">
                    <td>{{ reporte.usuario }}</td>
                    <td>{{ reporte.producto }}</td>
                    <td>{{ reporte.fecha }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}