{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/shopping_list.css' %}">
{% endblock %}

{% block body %}

<div class="row">
    <h1 class="title text-center">Tu lista de la compra</h1>
</div>
  
{% if productos_agrupados_por_supermercado.items|length != 0 %}
<div class="row text-center">
    <div class="contador-productos col-md-6">
        <div class="card tarjeta-usuario">
            {% for supermercado, numero in num_productos_por_supermercado.items %}
            <p><b>Numero de Productos del {{supermercado}}: {{numero}}</b></p>
            {% endfor %}
        </div>
    </div>

    <div class="boton-vaciado">
        <form method="POST" action="/shopping_list/">
            {% csrf_token %}
            <button class="vaciar btn btn-primary mb-3" type="submit">Vaciar lista de la compra</button>
        </form>
    </div>
</div>
{% endif %}
<div class="container text-center">
    
    <div class="row text-center">
        {% if productos_agrupados_por_supermercado.items|length != 0 %}
            {% for supermercado, productos in productos_agrupados_por_supermercado.items %}

        <button class="supermercado" disabled="true">
            Productos de {{ supermercado }}
        </button>
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <a href="/product/{{producto.id}}/details"><img src="{{producto.imagen}}" alt="error"
                            style="width:100%"></a>
                    <p class="nombre">{{producto.nombre}}</p>
                    <p class="marca">{{producto.marca}}</p>
                    <p class="supermercados">{{producto.supermercados.all|join:"/"}}</p>
                    <div class="row">
                        <div class="col">
                            {% for alergeno in producto.alergenos.all%}
                            {% if alergeno.imagen != None %}
                            <img src="{{alergeno.imagen}}" alt="error" style="width:20%">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" id="button-row">
                        <a href="/product/{{producto.id}}/remove" type="submit" class="btn btn-primary mb-3"
                            id="quitar" disabled="true">
                            Quitar de mi lista
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% else %}
        <p>Aun no hay productos</p>
        {% endif %}
    </div>
</div>
{% endblock %}