{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/shopping_list.css' %}">
{% endblock %}

{% block body %}

<div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="img-fluid" style="width: 20%;">
                <h5 class="my-3">Usuario</h5>
            </div>
        </div>
    </div>
</div>
    <div class="container text-center">
        <div>
            <div class="row">
                <p class="h2" style="text-align: center;">Tu lista</a>
                {% for supermercado, productos in productos_agrupados_por_supermercado.items %}
                    <p class="supermercado">{{ supermercado }}</p>
                    <div class="row">
                        {% for producto in productos %}
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <a href="/product/{{producto.id}}/details"><img src="{{producto.imagen}}" alt="error" style="width:100%"></a>
                                    <p class="nombre">{{producto.nombre}}</p>
                                    <p class="marca">{{producto.marca}}</p>
                                    <p class="supermercados">{{producto.supermercados.all|join:"/"}}</p>
                                    <div class="row">
                                        <div class="col">
                                        {% for alergeno in  producto.alergenos.all%}
                                            {% if alergeno.imagen != None  %}                                        
                                                <img src="{{alergeno.imagen}}" alt="error" style="width:20%">
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row" id= "button-row">
                                        <button type="submit" class="btn btn-primary mb-3" id="quitar" disabled="true">
                                            <a>Quitar de mi lista</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}