{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block body %}

<div class="d-flex flex-column container text-justify">
  
  <h1>Términos y Condiciones de Uso</h1>
  <p class="text-justify mt-3">Bienvenido al sitio web FoodCheck. Estos Términos y Condiciones establecen los términos legales que rigen su acceso y uso de nuestro sitio web. Al acceder y utilizar nuestro sitio web, acepta estos Términos y Condiciones en su totalidad. Si no está de acuerdo con estos Términos y Condiciones, no use nuestro sitio web.</p>
    
  <h3 class="mt-4">1. Propiedad del sitio web</h3>  
  <p>El sitio web FoodCheck es propiedad de FoodCheck S.L.. Todos los derechos sobre el sitio web y su contenido son propiedad de FoodCheck S.L.. El sitio web está protegido por las leyes de derechos de autor y de propiedad intelectual. Queda estrictamente prohibido cualquier uso no autorizado de este sitio web o de su contenido.</p>

  <h3 class="mt-4">2. Tratamiento de datos personales.</h3>
  <p>En cumplimiento de lo dispuesto en la Ley Orgánica de Protección de Datos Personales, FoodCheck se compromete a proteger y tratar con confidencialidad los datos personales que los usuarios proporcionen al sitio web. El usuario acepta que FoodCheck recopile y procese sus datos personales de acuerdo con nuestra Política de Privacidad. En la pagina de <a href="/gdpr">Tratamiento de Datos</a>, se inlcuye información sobre los derechos que el usuario tiene sobre sus información.</p>
  
  <h3 class="mt-4">3. Uso del sitio web</h3>
  <p>El uso del sitio web FoodCheck está sujeto a estos Términos y Condiciones. Usted se compromete a utilizar nuestro sitio web de manera legal y ética, y a no utilizarlo para fines ilícitos. También se compromete a no utilizar nuestro sitio web para enviar o publicar contenido que sea ilegal, ofensivo, difamatorio, o que viole los derechos de terceros.</p>

  <h3 class="mt-4">4. Propiedad intelectual</h3>
  <p>El sitio web FoodCheck contiene material protegido por derechos de autor, marcas registradas y otras formas de propiedad intelectual. Este material es propiedad de FoodCheck S.L. o de sus respectivos propietarios. Usted acepta no copiar, modificar, distribuir o reproducir el contenido de nuestro sitio web sin nuestra autorización por escrito.</p>

  <h3 class="mt-4">5. Alergias alimentarias</h3>
  <p>En el sitio web FoodCheck recopilamos información sobre alergias alimentarias de nuestros usuarios. Esta información se utiliza para mejorar nuestros servicios y para ayudar a nuestros usuarios a tomar decisiones informadas sobre lo que comen. Sin embargo, FoodCheck no se hace responsable de las consecuencias de cualquier información incorrecta proporcionada por los usuarios en relación con sus alergias alimentarias. FoodCheck tampoco se hace responsable de la posible mala catalogación de los alérgenos e ingredientes en un producto ni de los posibles errores de recomendación de productos a usuarios. Así mismo, FoodCheck no se hace responsable de cualquier decisión de consumo ni perjuicio a la salud que pueda ser causado por cualquier producto recomendado en nuestro sitio web.</p>

  <h3 class="mt-4">6. Modificaciones</h3>  
  <p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Se le notificará cualquier cambio en nuestros Términos y Condiciones publicando los cambios en nuestro sitio web. Si no está de acuerdo con los cambios, debe dejar de usar nuestro sitio web.</p>

  <h3 class="mt-4">7. Ley aplicable</h3>
  <p>Estos Términos y Condiciones se rigen por la legislación vigente en el país de España, y cualquier disputa que surja en relación con estos Términos y Condiciones se resolverá exclusivamente en los tribunales del país de España.</p>

<h4 class="mt-3">Al utilizar nuestro sitio web, acepta estos Términos y Condiciones de uso.</h4>

</div>

{% endblock %}