{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block body %}

<div class="container text-center">
    <div>

        <div class="row">
            <h1 class="title">Productos recomendados según tus valoraciones</h1>
        </div>

        <div class="row">
            {% for producto in products %}
            <div class="col-md-4">
                <div class="card">
                    <a href="/product/{{producto.id}}/details"><img src="{{producto.imagen}}" alt="error"
                            style="width:100%"></a>
                    <p class="nombre">{{producto.nombre}}</p>
                    <p class="marca">{{producto.marca}}</p>
                    <p class="supermercados">{{producto.supermercados.all|join:"/"}}</p>
                    <div class="row">
                        <div class="col">
                            {% for alergeno in producto.alergenos.all%}
                            {% if alergeno.imagen != None %}
                            <img src="{{alergeno.imagen}}" alt="error" style="width:20%">
                            {% endif %}
                            {% endfor %}
                            {% if producto.vegano == 1 %}
                                <img src="/static/imgs/intolerancias/vegano.png" alt="error" style="width:30%">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </br>
    </div>
</div>

{% endblock %}