{% extends "base.html" %} {% block head %} {% load static %}
<link
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}

<div class="d-flex flex-column container text-justify">
  <h1>Tratamiento de Datos</h1>
  <p class="text-justify mt-3">
    Bienvenido al sitio web FoodCheck. A continuación, se establecen los
    derechos que se pueden ejercer en relación con los datos utlizados en la
    aplicación
  </p>

  <h3 class="mt-4">1. Derecho al olvido</h3>
  <p class="text-justify mt-3">
    El <bold>Usuario</bold> tiene derecho a solicitar la eliminación de sus
    datos personales y de su contenido cuando ya no sean necesarios para los
    fines para los que fueron recogidos, cuando haya retirado su consentimiento,
    cuando se haya opuesto al tratamiento o cuando el tratamiento sea ilícito.
    Para ejercer este derecho, el Usuario deberá enviar una solicitud a
    FoodCheck, indicando su nombre, dirección de correo electrónico y los datos
    o el Contenido que desea eliminar.
  </p>

  <p>
    FoodCheck responderá a la solicitud en el plazo máximo de un mes desde su
    recepción y podrá denegar la solicitud de eliminación si el tratamiento de
    los datos o del contenido es necesario para el cumplimiento de una
    obligación legal, para el ejercicio del derecho a la libertad de expresión e
    información, para fines de interés público o para la formulación, el
    ejercicio o la defensa de reclamaciones.
  </p>
  <p>
    FoodCheck también podrá solicitar al Usuario que elimine su contenido si
    considera que infringe estos Términos o cualquier ley aplicable. El Usuario
    deberá atender a dicha solicitud en el plazo más breve posible. Si el
    Usuario no lo hace, FoodCheck podrá eliminar el contenido por su cuenta y
    riesgo.
  </p>

  <h3 class="mt-4">2. Derecho de acceso</h3>
  <p>
    El Usuario tiene derecho a obtener de FoodCheck la confirmación de si se
    están tratando o no sus datos personales y, en tal caso, a acceder a los
    mismos y a la siguiente información:
  </p>
  <ul>
    <li>Los fines del tratamiento.</li>
    <li>Las categorías de datos personales que se tratan.</li>
    <li>
      Los destinatarios o las categorías de destinatarios a los que se han
      comunicado o se comunicarán los datos personales.
    </li>
    <li>
      El plazo previsto de conservación de los datos personales o, de no ser
      posible, los criterios utilizados para determinar este plazo.
    </li>
    <li>
      La existencia del derecho a solicitar la rectificación o supresión de los
      datos personales o la limitación u oposición al tratamiento de los mismos.
    </li>
    <li>
      El derecho a presentar una reclamación ante una autoridad de control.
    </li>
    <li>
      Cuando los datos personales no se hayan obtenido del Usuario, cualquier
      información disponible sobre su origen.
    </li>
    <li>
      La existencia de decisiones automatizadas, incluida la elaboración de
      perfiles, y la lógica aplicada, así como la importancia y las
      consecuencias previstas de dicho tratamiento para el Usuario
    </li>
  </ul>
  <p>
    Para ejercer este derecho, el Usuario deberá enviar una solicitud por
    escrito, indicando su nombre, dirección de correo electrónico y los datos
    que desea consultar. FoodCheck responderá a la solicitud en el plazo máximo
    de un mes desde su recepción y facilitará al Usuario una copia de sus datos
    personales en un formato estructurado, de uso común y lectura mecánica. Si
    el Usuario lo solicita,se podrá transmitir sus datos directamente a otro
    responsable del tratamiento cuando sea técnicamente posible.
  </p>
  <p>
    FoodCheck podrá denegar o limitar el ejercicio del derecho de acceso cuando
    pueda afectar negativamente a los derechos y libertades de otros usuarios o
    terceros, o cuando exista un riesgo para la seguridad o integridad de los
    datos.
  </p>

  <h3 class="mt-4">3. Plan de contingencia</h3>
  <p>Una vez ocurrida una brecha de información, desde FoodCheck realizaremos los siguientes pasos:</p>
  <ol>
    <li><b>Análisis de la brecha de seguridad: </b>Se estudiará el mecanismo utilizado para la obtención ilícita de la información y se intentará paliar en la medida de lo posible.</li>
    <li><b>Estudio del alcance y del impacto: </b>Se harán usos de herramientas de análisis para poder obtener una visión completa de la cantidad de la información comprometida, así como el impacto para nuestros usuarios.</li>
    <li><b>Aviso a todos los afectados: </b>Se notificará lo antes posible a los afectados de la filtración, explicando detalladamente todo lo estudiado anteriormente, junto con pasos detallados que pueden seguir para protegerse.</li>
    <ul>
      <li>Se usará para este fin tanto el correo electrónico del cliente como su número de teléfono asociado mediante sms.</li>
    </ul>
    <li><b>Mejoras futuras: </b>Se valorarán cambios a raíz de la investigación en el <b>punto 1</b>. Estos cambios se pondrán a prueba utilizando las mismas estrategias utilizadas originalmente por la brecha y se aceptarán solo si son capaces de detenerlas y evitarlas completamente.</li>
  </ol>


</div>

{% endblock %}
